<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="../static/css/search.css">
    </head>

    <body>
        <div class="top_bar">
            <h1>
                Movie App
            </h1>
        </div>

        <hr>

        <div class="search_box">
            <h1>
                Enter Name Of Movie
            </h1>
            <form method="POST" class="content">
                <input name="name" placeholder="Enter Movie Name" name="name"  required>
                <button type="submit"> Search</button>
            </form>
        </div>
    </body>
</html>