<!DOCTYPE html>

<html>

<head>
    <title>Movie APP</title>

    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>

    <div class="navbar">

        <h1 class="logo">
            Movie App
        </h1>

        <form method="POST" class="nav-buttons" action="/base">

            <button
                class="btn"
                name="rl"
                type="submit"
                value="login"
            >
                Login
            </button>

            <button
                class="btn"
                name="rl"
                type="submit"
                value="register"
            >
                Register
            </button>

        </form>

    </div>

    <div class="hero">

        <div class="content">

            <h1>
                Unlimited Movies And TV Shows & More
            </h1>

            <p>
                Watch anytime from anywhere
            </p>

            <form method="POST" action="/base">

                <button
                    class="start-btn"
                    name="rl"
                    value="register"
                    type="submit"
                >
                    Get Started
                </button>

            </form>

        </div>

    </div>

</body>
<footer>
    This product uses the TMDB API but is not endorsed 
    or certified by TMDB. Built for educational purposes only.
</footer>
    

</html>
