<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Movie App</title>

    <link rel="stylesheet" href="../static/css/menu.css">
</head>

<body>

    <div class="menu">

        <div class="flash-container">

            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for msg in messages %}

                        <div class="flash-msg">
                            {{ msg }}
                        </div>
                    
                    {% endfor %}
                    
                {% endif %}
                    
            {% endwith %}

        </div>

        <h1>🎬 MOVIE APP</h1>

        <form method="POST">
            <button class="btn" name="options" value="name">Search by Name</button>
            <button class="btn" name="options" value="description">Search by Description</button>
            <button class="btn" name="options" value="filter">Filter Movies</button>
            <button class="btn" name="options" value="recs">Recommendations</button>
            <button class="btn" name="options" value="random">Random Movie</button>
            <button class="btn" name="options" value="surprise_me">Surprise Me</button>
            <button class="btn" name="options" value="watchlist">My Watchlist</button>
        </form>

    </div>

        <script>
        
            setTimeout(() => {
            
                const flashes = document.querySelectorAll(".flash-msg");
            
                flashes.forEach(flash => {
                    flash.style.opacity = "0";
                    flash.style.transform = "translateY(-20px)";
                
                    setTimeout(() => {
                        flash.remove();
                    }, 500);
                });
            
            }, 3000);

        </script>

</body>

</html>