<!DOCTYPE html>

<html>
    <head>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/search.css') }}">    </head>

    <body>
        <div class="top_bar">
            <h1>
                Movie App
            </h1>
        </div>

        <hr>

        <div class="search_box">
            <h1>
                Write story you think of 
            </h1>
            <p> we'll find the movie for you!</p>
            <form method="POST" class="content">
                <input name="description" placeholder="Enter story you think of" name="name"  required>
                <button type="submit"> Search</button>

            </form>
        </div>
    </body>
</html>